{% extends 'base.html' %}

{% block title %}
Добавить пост
{% endblock title %}

{% block content %}
<h1>Добавить новый пост:</h1>
<form action="/addpost" method="post">
    <label>
        Название:
        <input type="text" name="title">
    </label>
    <label>
        Автор:
        <input type="text" name="author">
    </label>
    <label>
        Дата:
        <input type="text" name="date">
    </label>
    <label>
        Текст:
        <textarea name="text">
        </textarea>
    </label>
    <label>
        Теги:
        <input type="text" name="tags">
    </label>
    <input type="submit" value="Добавить">
</form>
{% endblock content %}